.action-button {
    margin-right: 5px;
}
.qrScroll ::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
.qrScroll ::-webkit-scrollbar-thumb
{
    background-color: #F0AD4E;
}


.table-fixed thead {
    width: 100%;
}
.table-fixed tbody {
    height: 240px;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

.dos-table-fixed thead {
    width: 100%;
}
.dos-table-fixed tbody {
    height: 300px;
    overflow-y: auto;
    width: 100%;
}

.dos-table-fixed tbody td, .dos-table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}

.dos-Scroll ::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
.dos-Scroll ::-webkit-scrollbar-thumb
{
    background-color: #5cb85c;
}
