<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Contact Settings</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Current Contact Detail
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="col-md-6"><h5><b>Contact Name</b></h5></div>
					<div class="col-md-6"><h5>{{currentContact.contactName}}</h5></div>
					<div class="col-md-6"><h5><b>Contact Email</b></h5></div>
					<div class="col-md-6"><h5>{{currentContact.contactEmail}}</h5></div>
					<div class="col-md-6"><h5><b>Contact Phone</b></h5></div>
					<div class="col-md-6"><h5>{{currentContact.contactPhone}}</h5></div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
		<div class="col-lg-6">
			<div class="panel panel-green">
				<div class="panel-heading">
					Edit Contact
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="teamName" class="col-md-3 control-label hor-form">Name</label>
                            <div class="col-md-9"> <div class="input-group"><span class="input-group-addon">	<i class="fa fa-user"></i>
									</span>
                                <input type="text" class="form-control" id="teamName" placeholder="Contact Name" required=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teamEmail" class="col-md-3 control-label hor-form">Email</label>
                            <div class="col-md-9"> <div class="input-group"><span class="input-group-addon">	<i class="fa fa-envelope"></i>
									</span>
                                <input type="text" class="form-control" id="teamEmail" placeholder="Contact Email" required=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="teamPhone" class="col-md-3 control-label hor-form">Phone</label>
                            <div class="col-md-9"> <div class="input-group"><span class="input-group-addon">	<i class="fa fa-phone"></i>
									</span>
                                <input type="text" class="form-control" id="teamPhone" placeholder="Contact Phone" required=""></div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-6 -->
	</div>
</div>