<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Site Config</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Current Site Details
				</div>
				<div class="panel-body">
					<div class="col-md-6 current-site-config"><h5><b>Theatre Name</b></h5></div>
					<div class="col-md-6 "><h5>{{siteConfig.theatreName}}</h5></div>
					<div class="col-md-6 current-site-config"><h5><b>Website URL</b></h5></div>
					<div class="col-md-6 "><h5>{{siteConfig.websiteUrl}}</h5></div>
					<div class="col-md-6 current-site-config"><h5><b>Time Zone</b></h5></div>
					<div class="col-md-6 "><h5>{{siteConfig.timeZone}}</h5></div>
					<div class="col-md-12" ng-repeat="oct in openCloseTime">
						<div class="col-md-6 current-site-config" ng-repeat="(key, val) in oct"><h5><b>{{key}}</b></h5></div>
						<div class="col-md-3" ng-repeat="(key, val) in oct"><h5>{{val[0]}} hrs</h5></div>
						<div class="col-md-3" ng-repeat="(key, val) in oct"><h5>{{val[1]}} hrs</h5></div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.col-lg-12 -->
		<div class="col-lg-7">
			<div class="panel panel-green">
				<div class="panel-heading">
					Current Site Details
				</div>
				<div class="panel-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-4" for="theatreName">Theatre Name</label>
							<div class="col-sm-8">
								<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-envelope-o"></i>
										</span>
									<input type="text" class="form-control" id="theatreName"
										   placeholder="Theatre Name" required="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-4" for="websiteURL">Website URL</label>
							<div class="col-sm-8">
								<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-key"></i>
										</span>
									<input type="text" class="form-control" id="websiteURL"
										   placeholder="Website" required="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="day" class="col-sm-4 control-label">Time Zone</label>
							<div class="col-sm-8">
								<select class="form-control " title="Option Types" id="day">
									<option ng-repeat="day in days">{{day}}</option>
								</select>
							</div>
						</div>
						<form class="form-horizontal">
							<div class="form-group"  ng-repeat="day in daysInWeek">
								<label class="control-label col-sm-4" for="{{day}}Timing">{{day}}</label>
								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-clock-o" ></i>
										</span>
										<input type="text" class="form-control" id="{{day}}Timing"
											   placeholder="Open Time" required="">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-clock-o" ></i>
										</span>
										<input type="text" class="form-control" id="cleanTime"
											   placeholder="Close Time" required="">
									</div>
								</div>
							</div>
						</form>
						<div class="form-group">
							<div class="col-md-offset-4 col-md-8">
								<button class="btn-success btn">Submit</button>
								<button class="btn-danger btn">Cancel</button>
								<button class="btn-primary btn">Reset</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>