<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ticket Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Set Price for tickets
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="ticketName"
                                       class="col-sm-4 control-label hor-form">Ticket
                                    Name</label>
                                <div class="col-sm-8">
                                    <div class="input-group"><span
                                            class="input-group-addon">	<i
                                            class="fa fa-ticket"></i>
									</span>
                                        <input type="text" class="form-control"
                                               id="ticketName"
                                               ng-model="adminTicket.ticketName"
                                               placeholder="Ticket Name" required="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ticketType"
                                       class="col-sm-4 control-label">Ticket
                                    Type</label>
                                <div class="col-sm-8" id="ticketType">
                                    <span class="radio-inline"><input type="radio"
                                                                      name="gender"
                                                                      data-ng-model="adminTicket.ticketType"
                                                                      value="2D"> 2D</span>
                                    <span class="radio-inline"><input type="radio"
                                                                      name="gender"
                                                                      data-ng-model="adminTicket.ticketType"
                                                                      value="3D">3D</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ticketPrice"
                                       class="col-sm-4 control-label hor-form">Ticket
                                    Price</label>
                                <div class="col-sm-8">
                                    <div class="input-group"><span
                                            class="input-group-addon">	<i
                                            class="fa fa-money"></i>
									</span>
                                        <input type="text" class="form-control"
                                               id="ticketPrice" placeholder="Ticket Price"
                                               ng-model="adminTicket.ticketPrice"
                                               required=""></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ticketGroup"
                                       class="col-sm-4 control-label">Ticket
                                    Group</label>
                                <div class="col-sm-8" id="ticketGroup">
                                    <span class="radio-inline"><input type="radio"
                                                                      name="ticketGroup"
                                                                      data-ng-model="adminTicket.ticketGroup"
                                                                      value="Kids"> Kids</span>
                                    <span class="radio-inline"><input type="radio"
                                                                      name="ticketGroup"
                                                                      data-ng-model="adminTicket.ticketGroup"
                                                                      value="Adults">Adults</span>
                                    <span class="radio-inline"><input type="radio"
                                                                      name="ticketGroup"
                                                                      data-ng-model="adminTicket.ticketGroup"
                                                                      value="Senior">Senior</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="day"
                                       class="col-sm-4 control-label">Day</label>
                                <div class="col-sm-8">
                                    <select class="form-control " title="Option Types"
                                            ng-model="adminTicket.ticketDay" id="day">
                                        <option ng-repeat="day in days">{{day}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" ng-click="updateDetails()"
                                            class="btn btn-primary">Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-7">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Current Ticket Configuration
                </div>
                <!-- /.panel-heading current-ticket-panel -->
                <div class="panel-body current-ticket-panel">
                    <div class="dataTable_wrapper ">
                        <table class="table table-bordered table-hover"
                               id="movieScreenDetails">
                            <thead>
                            <tr>
                                <th>
                                    <div>
                                        <center>Day</center>
                                        </br></div>
                                </th>
                                <th>
                                    <div>
                                        <center>Ticket Details</center>
                                        </br>
                                        <div class="movieDetails">
                                            <div class="col-lg-3">Ticket Group</div>
                                            <div class="col-lg-3">Ticket Name</div>
                                            <div class="col-lg-3">2D Price</div>
                                            <div class="col-lg-3">3D Price</div>
                                            <!--<div class="col-lg-3">Actions</div>-->
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ticket in ticketConfig">
                                <td>
                                    <center>{{ticket.day}}</center>
                                </td>
                                <td>
                                    <div ng-repeat="ticketDetail in ticket.ticketDetails">
                                        <div class="col-lg-3">
                                            {{ticketDetail.ticketGroup}}
                                        </div>
                                        <div class="col-lg-3">
                                            {{ticketDetail.ticketName}}
                                        </div>
                                        <div class="col-lg-3">
                                            {{ticketDetail.ticketPrice2D}}
                                        </div>
                                        <div class="col-lg-3">
                                            {{ticketDetail.ticketPrice3D}}
                                        </div>
                                        <!--<div class="col-lg-3">-->
                                        <!--<button type="button" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i>-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>-->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
    </div>
    <div class="row">
        <!--<div class="col-lg-6">-->
            <!--<div class="panel panel-green">-->
                <!--<div class="panel-heading">-->
                    <!--Current Ticket Configuration-->
                <!--</div>-->
                <!--&lt;!&ndash; /.panel-heading current-ticket-panel &ndash;&gt;-->
                <!--<div class="panel-body current-ticket-panel">-->
                    <!--<div class="dataTable_wrapper ">-->
                        <!--<table class="table table-bordered table-hover"-->
                               <!--id="movieScreenDetails">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th>-->
                                    <!--<div>-->
                                        <!--<center>Day</center>-->
                                        <!--</br></div>-->
                                <!--</th>-->
                                <!--<th>-->
                                    <!--<div>-->
                                        <!--<center>Ticket Details</center>-->
                                        <!--</br>-->
                                        <!--<div class="movieDetails">-->
                                            <!--<div class="col-lg-3">Ticket Group</div>-->
                                            <!--<div class="col-lg-3">Ticket Name</div>-->
                                            <!--<div class="col-lg-3">2D Price</div>-->
                                            <!--<div class="col-lg-3">3D Price</div>-->
                                            <!--&lt;!&ndash;<div class="col-lg-3">Actions</div>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="ticket in ticketConfig">-->
                                <!--<td>-->
                                    <!--<center>{{ticket.day}}</center>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<div ng-repeat="ticketDetail in ticket.ticketDetails">-->
                                        <!--<div class="col-lg-3">-->
                                            <!--{{ticketDetail.ticketGroup}}-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-3">-->
                                            <!--{{ticketDetail.ticketName}}-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-3">-->
                                            <!--{{ticketDetail.ticketPrice2D}}-->
                                        <!--</div>-->
                                        <!--<div class="col-lg-3">-->
                                            <!--{{ticketDetail.ticketPrice3D}}-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash;<div class="col-lg-3">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button type="button" class="btn btn-success btn-block"><i class="fa fa-pencil-square-o"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--&lt;!&ndash; /.table-responsive &ndash;&gt;-->
                <!--</div>-->
                <!--&lt;!&ndash; /.panel-body &ndash;&gt;-->

            <!--</div>-->
            <!--&lt;!&ndash; /.panel &ndash;&gt;-->
        <!--</div>-->
        <!-- /.col-lg-12 -->
    </div>
</div>
