<style type="text/css">
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Upcoming Movies</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 add-upcoming-movies-search">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Add Upcoming Movies To Site
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-3"
                                   for="movieNameSearch">Movie
                                Name</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-film"></i>
                                    </span>
                                    <input type="text" ng-model="typedMovie"
                                           id="movieNameSearch"
                                           placeholder="Search movie"
                                           typeahead="movie.upMovieName for movie in showMovieSuggestions($viewValue)"
                                           typeahead-loading="loadingMovies"
                                           typeahead-no-results="noResults"
                                           typeahead-on-select="movieId=$item.upMovieId; selectedMovie=$item"
                                           class="form-control">
                                    <i ng-show="loadingMovies"
                                       class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No
                                        Results Found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="movieLength">Release
                                Date </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control"
                                           id="movieLength"
                                           placeholder="Displayed automatically"
                                           ng-model="selectedMovie.upReleaseDate"
                                           required="" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" ng-click="updateMovie()"
                                        class="btn btn-primary">Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-yellow recommended-upcoming-movies">
                <div class="panel-heading">
                    Quick Recommendations
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body panel-height">
                    <div class="table-responsive">
                        <table class="table table-hover table-fixed qrScroll ">
                            <thead>
                            <tr>
                                <th class="col-md-8">Details</th>
                                <th class="col-md-4 horizontal-align"
                                    style="padding-left: 0;">Poster
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="upMovie in quickRecommendations">
                                <td class="col-md-8">
                                    <div>
                                        <p><b>Name: </b>{{upMovie.upMovieName}}</p>
                                        <p><b>Release Date: </b>{{upMovie.upReleaseDate}}
                                        </p>
                                        <p>
                                            <button type="button"
                                                    class="btn btn-success btn-sm"
                                                    ng-click="updatedMovie(upMovie.upMovieId)"
                                                    tooltip="Add to Upcoming"
                                                    tooltip-placement="bottom">
                                                <i class="fa fa-plus-circle fa-2"
                                                   aria-hidden="true"></i>
                                            </button>
                                            <!--TODO after the backend is implemented-->
                                            <!--<button type="button"-->
                                                    <!--class="btn btn-danger btn-sm"-->
                                                    <!--tooltip="Remove from Recommended List"-->
                                                    <!--tooltip-placement="bottom"-->
                                                    <!--ng-click="removeUpComingMovies(upMovie.upMovieId)">-->
                                                <!--<i class="fa fa-minus-circle fa-2"-->
                                                   <!--aria-hidden="true"></i>-->
                                            <!--</button>-->
                                        </p>
                                    </div>
                                </td>
                                <td class="col-md-4 horizontal-align">
                                    <img alt="N/A"
                                         ng-src="{{imagePath}}{{upMovie.upPosterPath}}"
                                         class="img-rounded"
                                         style="width: 60px;height: 75px;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

        <div class="col-lg-6 added-upcoming-movies">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Upcoming Movies (Displayed on Site)
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!--<div class="table-responsive">-->
                    <!--</div>-->
                    <div class="dataTable_wrapper dos-table-fixed dos-Scroll">
                        <table class="table table-hover table-fixed table-hover dos-Scroll">
                            <thead>
                            <tr>
                                <th class="col-md-8"> Movie Details</th>
                                <!--<th class="col-md-3"> Movie Name</th>-->
                                <!--<th class="col-md-3"> Release Date</th>-->
                                <th class="col-md-4" style="text-align: center">
                                    Movie Poster
                                </th>
                                <!--<th class="col-md-3"> Actions</th>-->
                            </tr>
                            </thead>
                            <tbody style="height: 500px !important;">
                            <tr ng-repeat="upMovie in addedMoviesList track by $index">
                                <td class="col-md-8 ">
                                    <div class="vertical-align">
                                        <p><b>Name: </b>{{upMovie.upMovieName}}</p>
                                        <p><b>Release Date: </b>{{upMovie.upReleaseDate}}
                                        </p>
                                        <p>
                                            <button type="button"
                                                    class="btn btn-success btn-circle"
                                                    tooltip="Move to Current"
                                                    tooltip-placement="bottom"
                                                    ng-click="movieToCurrent(upMovie.upMovieId)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-danger btn-circle"
                                                    tooltip="Remove from Current"
                                                    tooltip-placement="bottom"
                                                    ng-click="removeUpComingMovies(upMovie.upMovieId)">
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </p>
                                    </div>
                                </td>
                                <td class="col-md-4 horizontal-align">
                                    <img alt="N/A"
                                         ng-src="{{imagePath}}{{upMovie.upPosterPath}}"
                                         class="img-rounded"
                                         style="width: 120px;height: 150px;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
</div>

